.hogan-module-embed iframe, .hogan-module-embed figcaption {
	max-width: 100%;
}

.hogan-module-embed iframe, .hogan-module-embed blockquote, .hogan-module-embed .twitter-tweet {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hogan-module-embed figcaption {
	width: 815px;
	max-width: 95%;
	margin: auto;
}

/* Start Responsive classes */

.hogan-module-embed .embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding-top: 0;
	overflow: hidden;
}

.hogan-module-embed .embed-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* End Responsive classes */
