/**
 * Hogan Embed
 */

.hogan-module-embed .embed-responsive {
	display: block;
	height: 0;
	overflow: hidden;
	padding-top: 0;
	position: relative;
}

.hogan-module-embed .embed-responsive iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
